{% load static %}
{% block navigation %}
{% include "AdminPanel/header.html" %} 

<div class="right_col" role="main" style="min-height: 217px;">
			<!-- <div id="navbar-animmenu"> -->
					<!-- <ul class="show-dropdown main-navbar"> -->
					<!-- <div class="hori-selector" style="left: 0px; width: 139.406px;"><div class="left"></div><div class="right"></div></div> -->
						<!-- <li class="active"> -->
							<!-- <a href="javascript:void(0);"><i class="fas fa-file"></i>Content management</a> -->
						<!-- </li> -->
						<!-- <li class=""> -->
							<!-- <a href="javascript:void(0);"><i class="fas fa-cog"></i>Setting</a> -->
						<!-- </li> -->
						<!-- <li class=""> -->
							<!-- <a href="javascript:void(0);"><i class="fas fa-ad"></i>Advertise management</a> -->
						<!-- </li> -->
					<!-- </ul> -->
			<!-- </div> -->
</div>
<script>
	<!-- $(".tab-section > button").removeClass("active-tab"); -->
	$("#dashboard_tab").addClass("active");
</script>

{% include "AdminPanel/footer.html" %}
{% endblock %}