{% load static %}

    </div>
  </div>

    <script
        src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
	
	 <script>
          
        </script>
    <script id="rendered-js">
        
    //# sourceURL=pen.js
    </script>

  <!-- <script src="{% static 'AdminPanel/js/jquery.min.js' %}"></script> -->
  <script src="{% static 'AdminPanel/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'AdminPanel/js/main.js' %}"></script>
  
</body>

</html>