{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{% static 'AdminPanel/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'AdminPanel/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminPanel/css/popup.css' %}">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
 
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
 
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
	<!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
	<!-- <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" /> -->

 <style>

	.row {
			margin-right: 15px;
			margin-left: 15px;
	}
</style> 
</head>

<body translate="no" class="nav-md">

  <div class="cont body">
    <div class="main_cont">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <!-- <a href="/dashboard_page/" class="site_title"> -->
			<img src="{% static 'Logo/plane_3.png' %}" alt="logo">
							Pairport 
							<!-- <img src="{% static 'AdminPanel/images/logo.png' %}" alt="logo"> -->
						<!-- </a> -->
          </div>
          <div class="clearfix"></div>

          <br>

		  
          <!-- <div id="sidebar-menu" class="main_menu_side hidden-print main_menu"> -->
            <!-- <div class="menu_section"> -->
              <!-- <ul class="nav side-menu"> -->
			<!-- <li id="dashboard_tab"><a href="/airport_page/"><i class="fas fa-plane"></i>  Airport  List</a> -->
                <!-- </li> -->
								
				<!-- <li id="user_tab"><a href="/user_page/"><i class="fas fa-user"></i> User List</a> -->
                <!-- </li> -->
								
                
              <!-- </ul> -->
            <!-- </div> -->
          <!-- </div> -->

		  
		   <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
			    <li id="dashboard_tab"><a href="/airport_page/"><i class="fas fa-plane"></i>  Airport  List</a>
                </li>
                <li><a href="/user_page/"><i class="fas fa-user-friends"></i> User List <span class="fa fa-chevron-down"></span></a>
               
               
               </li>
              
              </ul>
            </div>
          </div>

          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" href="login.html" data-original-title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>

        </div>
      </div>

      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-user-circle"></i> Admin
                  <span class="fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <!-- <li><a href="javascript:;"> Profile</a></li> -->
                  <!-- <li> -->
                    <!-- <a href="javascript:;"> -->
                      <!-- <span class="badge bg-red pull-right">50%</span> -->
                      <!-- <span>Settings</span> -->
                    <!-- </a> -->
                  <!-- </li> -->
                  <!-- <li><a href="javascript:;">Help</a></li> -->
                  <li><a href="/logout/"><i class="fas fa-sign-out-alt pull-right"></i> Log Out</a></li>
                  <!-- <li><a href="/adminpanel/"><i class="fas fa-sign-out-alt pull-right"></i> Change Password</a></li> -->
                </ul>
              </li>
             </ul>
          </nav>
        </div>
      </div>